@model C1_SchoolProject.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Teacher/Search">Back To Teachers</a>

<div id="containershow">
    <p><b>ID: </b> @Model.TeacherId</p>
    <p><b>Name: </b> @Model.TeacherFname @Model.TeacherLname</p>
    <p><b>Employee Number: </b> @Model.EmployeeNumber</p>
    <p><b>Hire Date: </b> @Model.HireDate.ToShortDateString()</p>
    <p><b>Salary: </b> @Model.Salary</p>
</div>

<!-- Update button -->
<div class="updating">
    @Html.ActionLink("Update", "Update", new { id = Model.TeacherId }, new { @class = "btn btn-default" })
</div>

<div class="deleting">
    <a href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
</div>

<style>
    .deleting, .updating {
        margin-top: 20px; /* Adds spacing above the links for visual separation */
        display: block; /* Ensures each link/button is on a new line */
    }

    .btn {
        padding: 10px 15px;
        background-color: #4B499C;
        color: white;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #3732a3;
        }
</style>
